body{
  background-image: url("../images/ep_naturalwhite.png");
  background-repeat: repeat;
  max-width: 980px;
}
.jtheader{
  background-color: #4aaaa5;
  color: white;
}
.whitetext{
   color: white;
}
.navbar-header {
  background-color: #4aaaa5;
  padding: 0px 30px 5px 10px;
}
a img{
  width:40px;
}

#img-nick{
  width:300px;
  /*float:left;*/
  /*padding-right: 20px;*/
}
  h2{
    color:#4aaaa5;
    font-size: 25px;
  }
